<div class="box box-primary messageRead">
    
    <div class="box-header with-border">
        <p class="messageRead__from">
            <span class="pull-right messageRead__createdAt">12 Januari 1990 12:31:19</span>
            From: Yanuar Nurcahyo - <i>yanuar@microad.co.id</i>
        </p>
        <p class="messageRead__subject">
            Subject: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        </p>
    </div>
    <!-- /.box-header -->
    
    <div class="box-body">
        <h4></h4>
        
        <p>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem
        </p>
        {% for reply in message.messageReplies %}
	        <div class="direct-chat-msg right">
	          	<div class="direct-chat-info clearfix">
		            <span class="direct-chat-name pull-right">Sarah Bullock</span>
		            <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
	          	</div>
	          	<!-- /.direct-chat-info -->
	          	<img class="direct-chat-img" src="{{ baseUrl }}/backend/img/avatar5.png" alt="message user image"><!-- /.direct-chat-img -->
	          	<div class="direct-chat-text">
	            	{{ reply.body }}
	          	</div>
	          <!-- /.direct-chat-text -->
	        </div>
    	{% endfor %}
    </div>

    <div class="box-footer">
  		{% set form = active_form_begin() %}
      			{{ form.field( model, 'body', { 'template': '
      			{error}
      			<div class="input-group">{input}
      				<div class="input-group-btn">
	          			<button type="button" class="btn btn-success">Send &nbsp; <i class="fa fa-send"></i></button>
	          		</div>
	          	</div>',
	          	'inputOptions': { 'placeholder': 'Type message...' }
	          }).label(false) | raw }}

	        
	        {{ active_form_end() }}
    </div>
</div>
