<div class="box">

	<div class="box-header">
      	<h3 class="box-title">Data Table using server side</h3> {{ this.render('/partials/button/insert-default.twig' ) | raw }}
    </div>
	<!-- /.box-header -->
	<div class="box-body">
		<table class="table table-striped table-bordered table-hover" id="dataTableAjax">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Icon</th>
					<th>Link</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Icon</th>
					<th>Link</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</tfoot>
		</table>
	</div>
<!-- /.box-body -->
</div>