<div class="box box-primary">
    
    <div class="box-header with-border">
        <h3 class="box-title">Create new row</h3>
    </div>
    <!-- /.box-header -->

    {{ this.buildForm( model, fields ) | raw }}
</div>