# deal with admin first

RewriteCond %{REQUEST_URI} ^/(backend) 
RewriteRule ^assets/(.*)$ web/assets/$1 [L]
RewriteRule ^js/(.*)$ web/js/$1 [L]
RewriteRule ^css/(.*)$ web/css/$1 [L]
RewriteRule ^bootstrap/(.*)$ web/bootstrap/$1 [L]
RewriteRule ^plugins/(.*)$ web/plugins/$1 [L]
RewriteRule ^assets/(.*)$ web/assets/$1 [L]
RewriteRule ^fonts/(.*)$ web/fonts/$1 [L]
RewriteRule ^img/(.*) web/img/$1 [L]

RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule (.*)  web/index.php/$1 [L]
