<div class="modal fade" id="modalCreateFolder" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	      	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="modalLabel">Create Folder</h4>
	      	</div>

			{% set form = active_form_begin( { 
				'action': 'create-folder'
			}) %}

		    <div class="modal-body">
			    {{ form.field(folderModel, 'id').hiddenInput().label(false) | raw }}
			    {{ form.field(folderModel, 'name') | raw }}
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		    </div>

			{{ active_form_end() }}

	    </div>
  	</div>
</div>