
{% if 'create' in this.params['userAction'] %}
	<a href="{{ url([ app.controller.id ~ '/create']) }}" class="btn btn-success btn-flat pull-right">
	    <i class="fa fa-plus"></i> Insert new item
	</a>
{% endif %}