
/** 
 * Please convert to minimize after modified 
 */
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb25 {
    margin-bottom: 25px;
}
.mb30 {
    margin-bottom: 30px;
}

.thumbnail {
    border-radius: 0;
}
.wysihtml {
    width: 100%; height: 300px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;
}
.chat .item > .online {
    margin-left: 5px;
}
.box.box-teal{
    border-top-color: #39CCCC;
}
td .btn-group {
    display: flex;
    float: left;
}
#mediaFile__list {
}
.media-options {
    margin-bottom: 20px;
}

.media-options:after {
    clear: both;
    display: block;
    content: '';
}

.media-options .btn-group {
    margin-bottom: 0;
}

.media-option-group {
    margin: 0;
    margin-left: 5px;
}

.media-option-group label {
    margin-bottom: 0 !important;
}

.media-manager .thmb {
    border: 1px solid #e7e7e7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.media-manager .thmb.checked {
    border-color: #bbb;
    background-color: #fcfcfc;
}

.media-manager .thmb::after {
    clear: both;
    display: block;
    content: '';
}

.media-manager .thmb:hover .fm-group {
    display: block;
} 
.media-manager .ckbox {
    position: absolute;
    top: 15px;
    left: 15px;
    display: none;
}

.media-manager .fm-group {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}

.media-manager .fm-toggle {
    padding: 1px 4px;
    line-height: normal;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.media-manager .fm-menu {
    min-width: 120px;
}

.media-manager .fm-menu a {
    font-size: 12px;
    color: #333;
    padding: 4px 8px;
}

.media-manager .fm-menu i {
    margin-right: 7px;
    color: #999;
    width: 16px;
    font-size: 13px;
}

.media-manager .thmb-prev {
    background: #eee;
    overflow: hidden;
}

.media-manager .thmb-prev a {
    display: block;
}

.media-manager .thmb-prev img {
    min-width: 100%;
}

.media-manager .fm-title {
    margin-bottom: 0;
    font-size: 13px;
}

.media-manager .fm-title a,
.media-manager .fm-title p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.media-manager-sidebar {
    padding-left: 10px;
}

.media-manager-sidebar .lg-title a {
    color: #999;
    font-size: 11px;
}

.media-manager-sidebar .lg-title a:hover {
    text-decoration: none;
    color: #333;
}

.folder-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.folder-list li {
    display: block;
    border-bottom: 1px solid #eee;
}

.folder-list li a {
    display: block;
    padding: 7px 0;
    color: #666;
}

.folder-list li a:hover {
    color: #333;
    text-decoration: none;
}

.folder-list li i {
    margin-right: 10px;
    width: 16px;
}
.folder-list__options {
    position: absolute;
    background: #eee;
    border: 1px solid #e7e7e7;
    width: 80%;
    padding-left: 0;
    z-index: 1;
    display: none;
}
.folder-list__options li {
    padding-left: 20px;
}

.media-manager-sidebar .tag-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.media-manager-sidebar .tag-list li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.media-manager-sidebar .tag-list li a {
    display: block;
    padding: 5px 7px;
    font-size: 11px;
    background: #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #666;
}

.media-manager-sidebar .tag-list li a:hover {
    color: #fff;
    text-decoration: none;
    background: #428BCA;
}

.image_picker_selector li {
    width: 23.6%;
}
.cropper__preview
{
    overflow: hidden;
}
.crop img 
{
    max-width: 100%;
}
 
.docs-data > .input-group {
  margin-bottom: .5rem;
}

.docs-data > .input-group > label {
  min-width: 5rem;
}

.docs-data > .input-group > span {
  min-width: 3rem;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-right: .25rem;
  margin-bottom: .5rem;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
  margin-bottom: .5rem;
}

.docs-tooltip {
  display: block;
  margin: -.5rem -.75rem;
  padding: .5rem .75rem;
}

.docs-tooltip > .icon {
  margin: 0 -.25rem;
  vertical-align: top;
}

.tooltip-inner {
  white-space: normal;
}

.btn-upload .tooltip-inner,
.btn-toggle .tooltip-inner {
  white-space: nowrap;
}

.btn-toggle {
  padding: .5rem;
}

.btn-toggle > .docs-tooltip {
  margin: -.5rem;
  padding: .5rem;
}

@media (max-width: 400px) {
  .btn-group-crop {
    margin-right: -1rem!important;
  }

  .btn-group-crop > .btn {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .btn-group-crop .docs-tooltip {
    margin-left: -.5rem;
    margin-right: -.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.docs-options .dropdown-menu {
  width: 100%;
}

.docs-options .dropdown-menu > li {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.docs-options .dropdown-menu > li:hover {
  background-color: #f7f7f7;
}

.docs-options .dropdown-menu > li > label {
  display: block;
}

.docs-cropped .modal-body {
  text-align: center;
}

.docs-cropped .modal-body > img,
.docs-cropped .modal-body > canvas {
  max-width: 100%;
}
#ajaxLoader {
  
    background: rgba(0,0,0,.3);
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    /*opacity: 0;*/

    -webkit-transition: opacity 0.4s linear 0s;
    -moz-transition: opacity 0.4s linear 0s;
    -o-transition: opacity 0.4s linear 0s;
    transition: opacity 0.4s linear 0s;
    
}

@media (max-width: 980px) { 
    .image_picker_selector li {
        width: 30.6%;
    }
}